*{
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

html, body{
  margin: 0;
}



.Full-container{
  background-image: url(R.jpg);
  height: 100vh;
  width: 100vw;
  background-size:cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;


}

.Login-Container{
  background-color: hsla(180, 100%, 25%, 0.2);
  padding: 50px 30px;
  max-width: 600px;
  min-width: 400px;
width: 50%;


}

.Login-Title{
  margin: 0;
  margin-bottom:40px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  color: White;

}

.Inputs{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;


}

.Inputs Label {
  margin-bottom: 7px;
  font-weight: lighter;
  font-size: 1.5em;
  color: White;


}

.Inputs input{
background-color: hsla(180, 100%, 25%, 0.1);
font-size: 1.5em;
padding: 0.1em 0.25em;
border:1px solid hsla(180, 100%, 30%);
outline: none;
font-weight: lighter;
border-radius: 5px;
color: White;

}

.Inputs input:focus{
  background-color: hsla(180, 100%, 25%, 0.3);
  border:1px solid hsla(180, 100%, 20%);
}

.Login-btn{
  background-color: hsla(180, 100%, 25%, 0.2);
  padding: 10px 20px;
  border:1px solid hsla(180, 100%, 30%);
  outline: none;
  font-weight: lighter;
  font-size: 1.5em;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  color: White;
}

.Login-btn:hover{
  background-color: hsla(180, 100%, 25%, 0.4);

}
.Login-btn:focus{
  background-color: hsla(180, 100%, 25%, 0.6);
  border:1px solid hsla(180, 100%, 20%);

}
